# moved requirements from setup.py here, mostly to ensure  dependabot works fine
# rel https://github.com/dependabot/dependabot-core/issues/3041

paho-mqtt
dynaconf
tgtg
coloredlogs
tenacity
arrow
croniter
google-play-scraper
random_user_agent
packaging
freezegun
schedule